/*================================
    FORM SECTION STYLES
==================================*/
/* CHECKBOX */
input[type=checkbox]{
    background-color: #fff;
    border: 4px solid #EB5E4E;
    border-radius: 4px;
    display: inline-block;
    padding: 9px;
    position: relative;
    margin: 10px;
    width: 25px;

    -webkit-appearance: none;
}
input[type="checkbox"]:checked, input[type="checkbox"]:focus{
    background-color: #EB5E4E;
    box-shadow: 0 0 5px #EB5E4E;
}
.form_row_checkbox{
    margin-bottom: 15px;
    text-align: left;
}


/* SELECT */
.form-one select{
    padding-left: 5px;
    width: 100%;
}


/* DATE */
/*Invisibilité de la div qui contient les selects de date, et de celle qui contient le file browser*/
#fos_user_registration_form_birth_date,
#tec_user_registration_birth_date,
#tec_servicebundle_categorie_media,
#tec_user_registration_media{
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 180px; 
}
#tec_user_registration_media{
    height: 80px;
}

/*Selects de date*/
.form-one #fos_user_registration_form_birth_date select,
.form-one #tec_user_registration_birth_date select{
    width: 100%;
}
#fos_user_registration_form>div:nth-child(7) label,
#tec_servicebundle_categorie>div:nth-of-type(3) label{
    text-align: left;
}

/* DISPONIBILITE */
.form-one #tec_user_registration>div:nth-child(11){
    height: 450px;
}

/* INPUT */
.form-control .col-xs-12, .form-inline .col-xs-12, input.btn-primary,
input.col-xs-12.col-md-4.form-control.text, .form-one select{
    border-radius: 25px;
    border: 4px solid #EB5E4E;
    margin-bottom: 15px;
    height: 45px;
    /*width: 98%;*/
}
#hidden {
    display: none;  
}
input[type="submit"], .btn-secondary{
    height: 55px;
    margin-bottom: 25px;
    /*width: 100%;*/
}


/* REQUIRED */
input:required::after{
    content: "*";
    color: red;
}

/* LABELS */
#tec_servicebundle_annonce div:nth-child(1),
#tec_servicebundle_annonce div:nth-child(2),
#tec_servicebundle_annonce div:nth-child(6){
    margin: 15px;
    text-align: left;
}
#tec_servicebundle_annonce div:nth-child(1) label,
#tec_servicebundle_annonce div:nth-child(2) label,
#tec_servicebundle_annonce div:nth-child(6) label{
    margin-right: 10px;
}
/*Label du file browser*/
#tec_servicebundle_categorie_media div label,
#tec_user_registration_media div label{
    display: none;
}
#tec_servicebundle_categorie_media{
    display: block;
    height: 40px;
}


/* FOCUS */
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 10px #EB5E4E;
          box-shadow: 0 0 10px #EB5E4E;
}

textarea.col-xs-12.col-md-4.form-control{
    height: 160px;
    resize: none;
    width: 98%;
}
label.input-group{
    display: inline-block;
}
fieldset{
    margin-bottom: 45px;
}


/* FIELDSETS de inscription et de updateUser*/
/*Margin-top du champs Email*/
#fos_user_registration_form>div:first-child>input,
#tec_user_registration>div:first-child>input{
    margin-top: 20px;
}
/*Margin-bottom du champs Pw2*/
#fos_user_registration_form>div:nth-child(4)>input,
#tec_user_registration>div:nth-child(4)>input{
    margin-bottom: 40px;
}
/*Margin-top du champs Nom*/
#fos_user_registration_form>div:nth-child(5)>input,
#fos_user_registration_form>div:nth-child(8)>input,
#tec_user_registration>div:nth-child(5)>input,
#tec_user_registration>div:nth-child(9)>input{
    margin-top: 20px;
}
/*Margin-bottom du champs Birth_date
#fos_user_registration_form_birth_date{
    margin-bottom: 30px;
}*/
/*Margin-top du champs Rue
#fos_user_registration_form_adresse_street{
    margin-top: 10px;
}*/
#fos_user_registration_form>div:first-child::before,
#tec_user_registration>div:first-child::before{
    content: "Données de connexion";
    color: #23777B; /*Turquoise fonc�*/
    font: 700 1.5em "HelveticaNeueLTStd-Roman", sans-serif;
    text-transform: uppercase;
}
#fos_user_registration_form>div:nth-child(5)::before,
#tec_user_registration>div:nth-child(5)::before{
    content: "Informations personnelles";
    color: #23777B; /*Turquoise fonc�*/
    font: 700 1.5em "HelveticaNeueLTStd-Roman", sans-serif;
    text-transform: uppercase;
}
#fos_user_registration_form>div:nth-child(8)::before,
#tec_user_registration>div:nth-child(9)::before{
    content: "Données de contact";
    color: #23777B; /*Turquoise fonc�*/
    font: 700 1.5em "HelveticaNeueLTStd-Roman", sans-serif;
    text-transform: uppercase;
}
/*Ajout "fieldset" 2: APRES le champs birth_date
#fos_user_registration_form>div:nth-child(8)::after,
#fos_user_registration_form_adresse_street::before{
    content: "Coordonnées";
    color: #23777B; Turquoise fonc�
    font: 700 1.5em "HelveticaNeueLTStd-Roman", sans-serif;
    padding-bottom: 30px;
    text-transform: uppercase;
}*/

/* BOUTONS */
.btn {
    font: 700 1.5em "HelveticaNeueLTStd-Bd",sans-serif;
}
.btn-primary, .btn-secondary, .btn-default, .btn-radio,
.btn-primary:visited, .btn-secondary:visited, .btn-default:visited, .btn-radio:visited,
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .btn:first-child:not(:last-child),
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    background-color: #EB5E4E; /*Orange brique*/
    border: none;
    border-radius: 55px;
    color: #fff;
    height: 55px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #7f3028; /*Orange clair*/
    text-transform: uppercase;
    transition: box-shadow 0.5s, text-shadow 0.5s;
}
.btn-secondary, .btn-secondary:visited{
    color: #fff;
    background-color: #65C2C7; /*Turquoise clair*/
    /*height: 45px;*/
    text-shadow: 2px 2px #23777B; /*Turquoise fonc�*/
}
.btn-default, .btn-default:visited{
    color: #fff;
    background-color: #65C2C7;
}
.btn-primary:hover, .btn-secondary:hover, .btn-default:hover{
    background-color: #EB5E4E;
    border: none;
    box-shadow: 5px 5px 5px #7f3028 inset; 
    text-shadow: none;
}
.btn-primary:focus, .btn-secondary:focus, .btn-default:focus, .btn-radio:focus,
.btn-group > .btn:last-child:not(:first-child):focus,
.btn-group > .btn:first-child:not(:last-child):focus,
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle):focus{
    background-color: #23777B; /*Turquoise fonc�*/
    box-shadow: 5px 5px 5px #000 inset;
    text-shadow: none;
}
.btn-secondary:hover{
    color: #fff;
    background-color: #65C2C7; /*Turquoise clair*/
    box-shadow: 5px 5px 5px #23777B inset;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .btn:first-child:not(:last-child),
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    background-color: #23777B; /*Turqoise foncé*/
    color: #fff;
    text-shadow: none;
    display: block;
    width: 100%;
}
.btn-radio:active, .btn-radio.active,
.btn-group > .btn:last-child:not(:first-child):active,
.btn-group > .btn:first-child:not(:last-child):active,
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle):active,
.btn-group > .btn:last-child:not(:first-child).active,
.btn-group > .btn:first-child:not(:last-child).active,
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle).active{
    background-color: #65C2C7; /*Turquoise clair*/
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3) inset;
}
.btn-radio:not(.active):hover {
    background-color: #65C2C7; /*Turquoise clair*/
}

/*FOOTER MOBILE*/
footer .form-control .col-xs-12, footer .form-inline .col-xs-12, .footer_mob input:last-of-type{
    width: 38%;
    margin-right: 10px;
}
.footer_mob input:last-of-type{
    margin-right: 0;
}


/* TRAITEMENT DES ERREURS -> eventuellement � red�finir */
/*.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}*/
.alert-danger, .has-error,
.alert-success, .has-success{
  border-color: #a94442;
  border: 3px solid;
  border-radius: 55px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  /*background-color: #f2dede;*/
  min-height: 48px;
  min-width: 290px;
  margin: 0 0 25px;
  padding: 2%;
}
.alert-success, .has-success {
  border-color: #3c763d;
  background-color: #dff0d8;
  color: #3c763d;
}
/*.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}*/


/* Extra-small devices (phones, 450px and up) */
@media(min-width: 560px){
    /*HOW*/
    .btn-radio{
        display: initial;
    }
    .btn-radio:first-child,
    .btn-group > .btn:first-child:not(:last-child),
    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .btn-radio:last-child,
    .btn-group > .btn:last-child:not(:first-child){
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .btn-group > .btn:last-child:not(:first-child), 
    .btn-group > .btn:first-child:not(:last-child), 
    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
        width: auto;
    }
}
@media(min-width: 450px){
    /*TITLE SECTION*/
    .row h3 img{
        height: auto;
        margin-right: 35px;
        width: auto;
    }
    
    #fos_user_registration_form>div:nth-child(7)::after{
        line-height: 2em;
    }
    
    /*Selects de date*/
    #fos_user_registration_form_birth_date,
    #tec_user_registration_birth_date{
        height: auto;
    }
    .form-one #fos_user_registration_form_birth_date select,
    .form-one #tec_user_registration_birth_date select{
        width: 30%;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #tec_servicebundle_annonce.form .form-control .col-xs-12, 
    #tec_servicebundle_annonce.form .form-inline .col-xs-12, 
    #tec_servicebundle_annonce.form input.btn-primary{
        max-width: 60%;
        width: 60%;
    }
    
    /* input perimetre et selects */
    #tec_servicebundle_annonce_perimetre,{
        float: none;
        margin-left: 15px;
        width: 20%;
    }
    .form-one select{
        width: 50%;
    }
    #tec_servicebundle_annonce div:nth-child(6){
        margin: 15px;
        text-align: left;
    }
    #tec_servicebundle_annonce div:nth-child(6) label{
        vertical-align: middle;
    }
    
    /*Boutons*/
    .form-inline .btn-primary, .form-control .btn-primary,
    .form-inline .btn-secondary, .form-control .btn-secondary{
        margin-left: 2%;
        width: 42%;
    }
    .form-control .btn-primary[value="visualiser"]{
        margin: auto;
    }
    
    /*Champs prennent toute la largeur*/
    .form-inline .form-control {
        width: 98%;
    }
    
    
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .form-one{
        width: 60%;
        margin: 0 auto;
    }
    
    /*Boutons*/
    .form-inline .btn-primary, .form-control .btn-primary,
    .form-inline .btn-secondary, .form-control .btn-secondary{
        width: 48%;
    }
    
    /*Select*/
    .form-one select{
        width: 40%;
    }
    
    /*Champs côte à côte*/
/*    .form-control .col-xs-12, 
    .form-inline .col-xs-12, 
    input.btn-primary, */
    section.search.index input:last-of-type{
        width: 42%;
        margin-left: 2%;
    }
    /*Champs côte à côte pour tous les form sauf celui de recherche*/
    #form_contact .form-control .col-xs-12:not(textarea), 
    #form_contact .form-inline .col-xs-12:not(textarea), 
    #form_contact input.btn-primary:not(textarea), 
    #form_contact section.search input:last-of-type:not(textarea){
        /*width: 48%;*/
    }
    /*Champs objet de contact qui prend toute la largeur*/
    #form_contact .form-control .col-xs-12:not(textarea):nth-child(3), 
    #form_contact .form-inline .col-xs-12:not(textarea):nth-child(3){
        width: 98%;
    }
    
    /*Grosse loupe*/
    section.search button[type="submit"]{
        margin-top: -30px;
        width: inherit;
    }
} 
   
/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /*Select*/
    .form-one select{
        width: 50%;
    }
}