/*================================
    FORM SECTION STYLES
==================================*/
/* INPUT */
.form-control .col-xs-12, .form-inline .col-xs-12, input.btn-primary{
    border-radius: 25px;
    border: 4px solid #EB5E4E;
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
}
#hidden {
    display: none;  
}
input[type="submit"]{
    margin-bottom: 25px;
}

/* FOCUS */
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 10px #EB5E4E;
          box-shadow: 0 0 10px #EB5E4E;
}

textarea{
    width: 100%;
}
label.input-group{
    display: inline-block;
}
fieldset{
    margin-bottom: 45px;
}

/* BOUTONS */
.btn {
    font: 700 1.5em "HelveticaNeueLTStd-Bd",sans-serif;
}
.btn-primary, .btn-secondary, .btn-default, .btn-radio{
    background-color: #EB5E4E; /*Orange brique*/
    border: none;
    border-radius: 55px;
    text-shadow: 2px 2px #7f3028; /*Orange clair*/
    text-transform: uppercase;
}
.btn-secondary{
    color: #fff;
    background-color: #65C2C7; /*Turquoise clair*/
    text-shadow: 2px 2px #23777B; /*Turquoise fonc�*/
}
.btn-default{
    color: #fff;
    background-color: #65C2C7;
}
.btn-primary:hover, .btn-secondary:hover, .btn-default:hover{
    background-color: #EB5E4E;
    border: none;
    box-shadow: 5px 5px 5px #7f3028 inset; 
    text-shadow: none;
}
.btn-secondary:hover{
    color: #fff;
    background-color: #65C2C7; /*Turquoise clair*/
    box-shadow: 5px 5px 5px #23777B inset;
}
.btn-radio{
    background-color: #23777B; /*Turqoise foncé*/
    color: #fff;
    height: 55px;
    text-shadow: none;
}
.btn-radio:active, #how .btn-radio.active {
    background-color: #65C2C7; /*Turquoise clair*/
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3) inset;
}
.btn-radio:not(.active):hover {
    background-color: #65C2C7; /*Turquoise clair*/
}
.btn-radio:first-child{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.btn-radio:last-child{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*FOOTER MOBILE*/
footer .form-control .col-xs-12, footer .form-inline .col-xs-12, .footer_mob input:last-of-type{
    width: 38%;
    margin-right: 10px;
}
.footer_mob input:last-of-type{
    margin-right: 0;
}


/* TRAITEMENT DES ERREURS -> eventuellement � red�finir */
/*.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}*/
/*.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}*/


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    /*Champs côte à côte*/
    .form-control .col-xs-12, .form-inline .col-xs-12, input.btn-primary, section.search input:last-of-type{
        width: 42%;
        margin-left: 2%;
    }
    
    /*Grosse loupe*/
    section.search button[type="submit"]{
        margin-top: -30px;
        width: inherit;
    }
}