footer{
    display: none;
}
   
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    #home .overlay {
        background-color: transparent;
    } 
    .home-index{
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    /*height: 660px;*/
    }
    
/*    section.search button[type="submit"]{
        margin-top: -30px;
        width: inherit;
    }*/
}