section:nth-child(even){
    background-color: #eeedf6; /*Orange clair #EBCEA2*/
}
section{
    padding: 30px 0;
}
h4{
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 5px; 
    text-align: left;
}
p{
    text-align: left;
}

/*================================
    NAV ONGLET STYLES
==================================*/
.profile-block{
    background-color: #EB5E4E; /*Orange brique*/
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
.profile{
   height: 55px;
   margin: 0 auto;
   text-align: center;
}
.profile > li{
    height: 55px;
    text-align: center;
}
.profile > li > a{
    background-color: #EBCEA2; /*Orange clair*/
    border:  none;
    border-radius: 0;
    color: #EB5E4E; /*Orange brique*/
    display: block;
    height: 55px;
    padding-top: 15px;
}
.profile > li:first-child{
    margin-right: 7px;
    margin-left: 0;
    
}
.profile > li > a:hover,
.profile > li > a:focus{
    background-color: #EEEDF6; /*Turquoise clair*/
}
.profile > li.active > a,
.profile > li.active > a:hover,
.profile > li.active > a:focus,
.profile > li:active > a,
.nprofile > li:active > a:hover,
.profile > li:active > a:focus{
    background-color: #EEEDF6;
    color: #23777B; /*Turquoise foncé*/
    text-decoration: none;
    border: none;
}

/*================================
    GENERAL SECTION STYLES
==================================*/
#general+section{
    padding-top: 35px;
}

/*Image du user*/
#general img{
    float: left;
    height: 30%;
    margin: 0 15px 30px 0;
    max-width: 200px;
    width: 30%;
}

/*RATE*/
ul, ol{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
}
ul li, ol li{
    display: inline-block;
    font: 700 1em "HelveticaNeueLTStd-Roman", sans-serif;
    list-style-type: none;
    text-align: center;
}
ol li:last-child span{
    font-size: 0.8em;
    font-style: italic;
}

/*PICTOS*/
#general .container ul{
    display: block;
    float: left;
    margin-bottom: 30px;
    width: 60%;
}
#general .container ul li{
    padding-top: 20px;
    text-align: left;
}
#general .container ul a{
    display: inline;
    padding-left: -30px;
    text-align: left;
    vertical-align: middle;
}
#general .container ul img{
    display: block;
    margin: 0 15px 0 0;
    width: 20%;
}


/*================================
    SKILL SECTION STYLES
==================================*/
#category li a{
    padding-bottom: 0;
}
    
    
/* Extra-small devices (phones, 450px and up) */
@media(min-width: 450px){
    #general .container ul li a{
        padding-top: 12%;
    }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  

    /*ONGLETS*/
    .profile{
        font-size: 1.5em;
        height: 75px;
    }
    .profile > li{
        width: 16%;
        height: 55px;
        padding-top: 15px;
    }
    .profile > li > a {
        margin-top: 5px;
    }
    }
    /*CATEGORY*/
    ul#category{
        margin-left: 0;
        margin-right: 0;
    }

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {  
    /*PICTOS*/
    #general .container ul{
        width: 67%;;
    }
}
