    /*================================
        HEADER STYLES
    ==================================*/    
    .title .overlay h3 {
        font: 700 1.5em "HelveticaNeueLTStd-Bd",sans-serif;        
        text-align: center;
    }
    /*================================
        BOX-POST STYLES
    ==================================*/  
    #results {
        padding-top: 5px;
        height: auto;
        padding-bottom: 0;
    }
    .post {
        width: 100%;
    }
    #stars {
        /*visibility: hidden;*/
        display: none;
    }
    .box-post {
          background-color: #fff;
          border-radius: 45px;
          margin: 5% 0;
          height: 240px;
        } 
        .profil-post-image{
            width: 35%;
            height: 80px;
            float: left;
            margin-right: 10px;
            border-top-left-radius: 45px;
        }
        .user-login,
        .user-location,
        .user-date-post{
            margin: 0;
        }
        
        .post-title {
            margin: 0 auto;
        }
        .propose, .offre {
            height: 25px;
            padding-top: 5px;
            background-color: #23777B; /*Turquoise*/
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
        }
        .offre{
            background-color: #EB5E4E; /*Orange*/
        }
        .box-post ul {
            text-decoration: none;
            text-align: left;
            margin-left: -40px;
        }
        .user-login, 
        .user-date-post {
            font-weight: bold;
        }
            .box-post li {
                list-style-type: none;
            }
            .user-status {
                border-radius: 50%;
                background-color: green;
                width: 15px;
                height: 15px;
                float: right;
                margin-right: 20px;
                margin-top: -10px;
                position: initial;
            }
            .stars {
                display: inline-block;
                color: #EB5E4E ;
            }
            #debut-annonce {
                display: block;
                text-align: center;
                font-size: 0.9em;
                clear: both;
            }
            .icons-post {           
                display: block;  
            }
                .menu-post {
                    display: inline-block;
                    padding: 0;
                    margin-right: 2px;
                    font-size: 0.8em;
                    width: 25%;
                    height: 25%;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    color: black;
                }
    /*================================
        PAGINATION STYLE
    ==================================*/     
    #how{
        display: initial;
        text-align: center;
        margin: 0 auto;
    }
    .contain {
        margin-bottom: 5%;
    }
    .fleche-page {
        width: 12px;
        height: 15px;
    }
    /*================================
        MEDIA QUERIES STYLES
    ==================================*/                     
    @media (min-width: 360px) {
        .box-post{
            height: 300px;
        }
        .profil-post-image{
            width: 40%;
            height: 110px;
            margin-right: 10px;
        }
        .user-login,
        .user-location,
        .user-date-post{
            margin: 5px;
            font-size: 1.2em;
        }
        .user-status {
            margin-top: -20px;
        }
        .propose {
            margin-top: 3px;
            padding-top: 8px;
            height: 30px;
        }
        #how .pagination > li > a {
            font-size: 1.5em;
        }
        .fleche-page {
        width: 15px;
        height: 18px;
        }
    }
    @media(min-width: 400px) {
        .box-post{
            height: 320px;
        }        
        .profil-post-image{
            width: 35%;
            height: 110px;
            margin-right: 20px;
        }        
    }
    @media(min-width: 640px) {
        .title .overlay h3 {
        font: 700 2em "HelveticaNeueLTStd-Bd",sans-serif
        }
        .container {
            width: 80%;
        }
        .profil-post-image{
            width: 30%
        }
        .user-status {
            width: 25px;
            height: 25px;
        }
        .profil-post-image {
            margin-right: 30px;
        }
        .icons-post{
            margin-top: 30px;
        }
        .menu-post {
            width: 20%;
            height: 20%;
            font-size: 1em;
            margin-right: 15px;
        }
    }
    @media (min-width: 768px) {
        .box-post{
            height: 380px;
        }
            .box-post ul {
                padding-top: 5px;
            }
        .profil-post-image {
            width: 40%;
            height: 150px;
            margin-right: 30px;
        }  
        .user-status {
            margin-top: -40px;
        }
        .propose, .offre {
            margin-top: 12px;
            height: 40px;
            padding-top: 10px;
        }
        .user-login,
        .user-location,
        .user-date-post{
            margin: 10px;
        }
        .menu-post {
            width: 25%;
            height: 25%;
            padding-left: 35px;
            text-align: center;
            margin-top: 20px;
        }
        #debut-annonce {
            margin-top: 5px;
            font-size: 1em;
        }  
        .icons-post {
            margin-top: 10px;
        }
        .col-sm-6 {
            float: none;
        }
        .col-sm-offset-3 {
            margin-left: 20%;
        }
        half {
            margin-left: 0;
        }
        .bigger {
            margin: 5% 0 5% 0%;
        }
    }
    @media (min-width: 980px) {
        .half {
            width: 50%;
            display: inline-block;
        }
        .col-sm-6 {
            width: 60%;
            text-align: center;
        }
 
        .box-post{
            height: 320px;
        }        
        .profil-post-image {
            height: 130px;
        }
        .user-status {
            margin-top: -30px;
        }
        .user-login,
        .user-location,
        .user-date-post{
            margin: 5px;
            text-align: left;

        }
        #stars {
            margin-left: 50px;
        }  
        .menu-post {
            width: 25%;
            height: 25%;
            padding-left: 0;
            margin-top: 0;
            padding: 10px;
            margin: -10px;
        }
        #how .pagination > li > a {
            font-size: 1.8em;
        }
        .fleche-page {
        width: 18px;
        height: 21px;
        }   
        .bigger {
            margin-left:20%;
        }
    }
@media (min-width: 992px) {
        .bigger {
            margin-left:25%;
        }        
}        
@media(min-width: 1080px) {  
        .box-post{
            height: 300px;
        }    
        #debut-annonce {
            margin-top: 5px;
            float: left;
            width: 50%;
        }     
        .icons-post {
            float: right;
            width: 50%;
        }
        .menu-post:first-child {
            margin-left: 3px;
        }
        .menu-post {
            width: 25%;
            height: 25%;
            padding-left: 0;
            margin-top: 0;
            padding: 1px;
            margin: 0;
            margin-top: -5px;
        }        
}     
@media(min-width: 1500px) {
        .box-post{
            height: 350px;
        }     
        .profil-post-image {
            height: 150px;
        }  
        .user-status {
            margin-top: -35px;
        }        
        .user-login,
        .user-location,
        .user-date-post {
            margin: 12px;
        }
        .propose, .offre {
            margin-top: -8px;
            font-size: 1.2em;
        }
        .menu-post {
            width: 30%;
            height: 30%;
        }
        .col-sm-6 {
            width: 50%;
            text-align: center;
        }
       .col-sm-offset-3 {
            margin-left: 25%;
        } 
        .bigger {
            margin-left: 30%;
        }
}
@media(min-width: 1700px) {
    .container {
        width: 70%;
    }
    
}