/*================================
    BOX-POST STYLES
==================================*/   
#results {
    padding-top: 5px;
    height: auto;
}
.post {
    width: 100%;
}
.box-post {
      background-color: #fff;
      border-radius: 7%;
      margin: 5% 0;
      height: 210px;
    } 
    .profil-post-image{
        border: 1px solid red;
        width: 35%;
        height: 80px;
        float: left;
        margin-right: 10px;
        border-top-left-radius: 18%;
    }
    .user-login,
    .user-location,
    .user-date-post{
        margin: 0;
    }
    .post-title {
        margin: 0 auto;
    }
    .propose {
        height: 25px;
        padding-top: 5px;
        background-color: #23777B;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
    }
    .box-post ul {
        text-decoration: none;
        text-align: left;
        margin-left: -40px;
    }
        .box-post li {
            list-style-type: none;
        }
        .stars {
            display: inline-block;
            color: #EB5E4E ;
        }
        #debut-annonce {
            display: inline-block;
            width: 40%;
            margin-left: 10px;
            font-size: 0.9em;
            clear: both;
        }
        .icons-post {
            float: right;
            width: 60%;            
            display: inline-block;  
            margin-right: -15px;
            margin-top: 10px;
        }
            .menu-post {
                display: inline-block;
                padding: 0;
                margin: 2px;
                font-size: 0.8em;
                width: 25%;
                height: 25%;
                text-align: center;
                text-decoration: none;
                color: black;
            }
@media (min-width: 360px) {
    .box-post{
        height: 280px;
    }
    .profil-post-image{
        width: 40%;
        height: 120px;
        margin-right: 10px;
    }
    .user-login,
    .user-location,
    .user-date-post{
        margin: 5px;
        font-size: 1.2em;
    }
    .propose {
        margin-top: 15px;
        padding-top: 8px;
        height: 30px;
    }
    #debut-annonce {
        font-size: 1em;
    }
}
@media (min-width: 768px) {
    .box-post{
        height: 350px;
    }
    .profil-post-image{
        width: 40%;
        height: 150px;
        margin-right: 10px;
    }    
    .propose {
        margin-top: 30px;
    }
    .user-login,
    .user-location,
    .user-date-post{
        margin: 10px;
        text-align: center;
        
    }
    #stars {
        margin-left: 440px;
    }
    .menu-post {
        padding: 15px;
        width: 30%;
        height: 30%;
    }
    #debut-annonce {
        margin-top: 25px;
    }    
}
@media (min-width: 800px) {
    #stars {
        margin-left: 460px;
    }    
}
@media (min-width: 980px) {
    .col-md-6 {
        width: 50%;
        display: inline-block;
    }
    .user-login,
    .user-location,
    .user-date-post{
        margin: 10px;
        text-align: left;
        
    }
    #stars {
        margin-left: 50px;
    }  
    #debut-annonce {
        margin-top: 5px;
    }     
}
