/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: "HelveticaNeueLTStd-Roman", sans-serif;
    background-color: #c9e9f0;
}
section {
    padding-top: 80px;
    padding-bottom: 120px;
}

a, a:hover{
    text-decoration: none;
}

li{
    text-decoration: none;
}
.head-set {
    margin: 0 auto;
    color: #EB5E4E;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font: 700 2.5em "HelveticaNeueLTStd-Bd",sans-serif;
}

.pad-bottom {
    padding-bottom: 60px;
}

.btn:hover{
    color: #fff;
}
profil-btn{
    background-color: #eeedf6;
    display: block;
    padding-top: 20px;
}

.exergue{
    color: #65C2C7 ;
}
/*================================
    NAVBAR STYLES
==================================*/
.navbar-collapse.in{
    overflow-y: hidden;
}
.navbar-default {
    background-color: rgb(35, 133, 161);
    border-color: transparent;
    color: #fff;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
    }

.navbar-brand {
    padding: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}    
h2 {
    color: #65C2C7;
    font-style: italic;
    margin-top: -10px;
}
a.normal{
    color: #EB5E4E; /*Orange brique*/
}
a.normal:hover{
    color: #65C2C7; /*Turquoise clair*/
    cursor: pointer;
/*    text-shadow: 0 0 5px #EBCEA2; Orange clair*/
}
a.normal:visited{
    color: #7F3028; /*Orange très foncé*/
}
/*================================
    MENU STYLES
==================================*/

.group-logo{
    width: 30%;
    height: 20%;
    float: left;
    margin: 1%;
}
.header {
    background-color: #fff;
}
#logo>img{
    max-width: 150px;
}
#slogan {
    font-size: 90%;
    width: 200%;
}
.img-menu {
        display: none;
}
@media(min-width: 480px) {
    #slogan {
        font-size: 120%;
    }
}
@media(min-width: 640px) {
    #logo>img {
        min-width: 200px;
        max-width: 300px;
    }
    #slogan {
        font-size: 90%;
        margin-left: 30px;
    }
}
.menu {
    margin: 0 auto;
}
    .menu p {
        display: none;
    }
    #bs-navbar {
        width: 100%;
        margin: 0 auto;     
    }
    #bs-navbar li a:hover {
    color: #23777B;
    transform: scale(1.1);
    }
    .menu li {
        width: 100%;
        height: 40px;
        margin: 1% 0 1% 0;
        margin: 0 auto;
    }
    .menu li a{
        color: #fff; 
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 auto;
        width: auto;
    }
    .menu li p {
        font-weight: bold;
    }
    .menu li a:hover {
        background-color: transparent;
    }
    .connect {
        display: none;
    }
    .menu li:first-child {
        background-color: rgba(234, 93, 79, 0.5);
    }
    .menu li:nth-child(2) {
        background-color: #EA5D4F;
    }    
    .menu li:nth-child(3) {
        background-color: rgba(234, 93, 79, 0.5);
    }
    .menu li:nth-child(4) {
        background-color: #EA5D4F;
    }
    .menu li:nth-child(5) {
        background-color: rgba(234, 93, 79, 0.5);
    }
    .menu li:nth-child(6) {
        background-color: #EA5D4F;
    }
    .menu li:nth-child(7) {
        background-color: rgba(234, 93, 79, 0.5);
    }
@media (min-width: 768px) {
    #bs-navbar {
        margin-left: 80px;
    }    
}   
@media (min-width: 900px) {
    .navbar {
        margin-top: -20px;
    }
    .navbar-toggle {
        margin-top: 30px;
        margin-right: 10px;
    }
    #bs-navbar {
        position:absolute; 
        top:10px; right:0; 
        width:80%;
    }
    #bs-navbar li {
        background:none; 
        text-align:center; 
        width:110px;
    }
    #bs-navbar li:nth-child(1) {
        background:none; 
        text-align:right; 
        margin-right: 15px;
    }
    #bs-navbar li:first-child a {
        width: 120px;
    }
    #bs-navbar li a{
        width: 120px;
        min-height: 25px;         
        color:#8a8381; 
        display:inline-block; 
        font-size:10px;  
        padding:0;
    }      
    #bs-navbar li p {
        color:#8a8381; 
        display:inline-block; 
        font-size:12px;      
    }
    #bs-navbar li a:hover {
        background-color: transparent;
    }
    #bs-navbar li a img-menu {
        display:inline-block; 
        width:50px
    } 
    .user-name {color: #23777B;
    }
    #bs-navbar li a span {
        color:#EB5E4E;
    }    
    .menu {
        float: right;
        margin: 85px 75px 0px -150px;
        text-align: right;
    }    
    .menu li .img-menu {
        display: inline-block;
        width:20px !important;
        margin-right: 10px;
    } 
  #slogan {
      font-size: 100%;
      margin-left: 5px;
  }   
  #bs-navbar {
      right: -80px;
  }
  #bs-navbar li a {
      font-size: 14px;
  }
  .img-menu {
      width: 70px;
  }
    #bs-navbar li {
        width: 100px;
        margin-right: 5px;
/*        float: right;*/
    }
    #bs-navbar li a {
      font-size: 12px;
    }
}
@media(min-width: 980px) {
    #bs-navbar li a {
        font-size: 13px;
        width: 130px;
    }
}
@media(min-width: 1024px) {
  #bs-navbar {
      right: -20px;
  }    
    .menu {
        margin: 90px 25px 0px 40px;
    }
    .menu li {
        margin-left: 10px;
    }
    .menu li a {
        width: 150px;
    }    
    #bs-navbar li a {
        font-size: 13px;
        width: 140px;
    }
    #bs-navbar li p {
        font-size: 13px;
    }  
}
@media(min-width: 1024px) {
    .menu {
        margin: 100px 25px 0px 40px;
    }    
}
@media(min-width: 1480px) {
    .menu {
        margin: 120px 25px 0px 40px;
    }
}
@media(min-width: 1700px) {
    #bs-navbar {
        right: -200px;
    }   
    .menu {
        margin: 130px 200px 0px 0px;
    }  
}


/*======================================
    TABLEAU STYLES
=========================================*/
.panel-heading{
/*    font-weight: 700;
    font-size: 1.5em;*/
    text-align: left;
}
.table th, .table td{
    text-align: left;
}


/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    padding: 0;

}  
#footer_mob .index {
    padding-bottom: 0;
}
/*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        /*padding-top: 90px;*/
        background-color: white; /*.75 opacity of the color so that background image is visible*/
/*        height: 450px;*/
        color: #fff;
    }

    #home hgroup {
        /*padding-top: 80px;*/
        font-weight: 900;
        font-size: 100px;
        font-family: 'Browallia New';
        text-align: left;
        margin: 0 0 0 10px;
    }
    h1 img{
        max-width: 400px;
        min-width: 200px;
        width: 50%;
    }
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/

/*CLASS TO FORMAT TEXT*/
.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
}
.container {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/*================================
    TITLE SECTION STYLES
==================================*/
.title .overlay{
    background-color: #23777B;
    color: #fff;
    /*height: 140px;*/
    /*margin-bottom: 40px;*/
    /*padding-top: 20px;*/
    text-align: center;
    text-transform: uppercase;
}
.title .overlay h3{
    font: 700 2em "HelveticaNeueLTStd-Bd",sans-serif;
    margin: 20px auto;
}
h4 {
    font: 700 2em "HelveticaNeueLTStd-Bd",sans-serif; 
    padding-bottom: 5px;
    padding-top: 10px;
    position: relative;
    margin: 0 auto;
}
.row h3 img{
    display: inline;
    height: 15%;
    margin-right: 15px;
    width: 15%;
}


/*================================
    SEARCH SECTION STYLES
==================================*/
.search{
    /*    height: 370px;*/
    background: url(../images/header.jpg) no-repeat center 35px; /*Full Width background image*/
    background-color: #fff;
    background-size: cover;
} 
section.search, .footer_mob{
    padding-top: 60px;
    padding-bottom: 200px;
}
/*input localité*/
section.search input:last-of-type, .footer_mob input:last-of-type{
    width: 80%;
}
.row{ /*Et pour POST SECTION aussi*/
    margin-left: 0;
    margin-right: 0;
}
/*Bouton submit*/
section.search button[type="submit"], .footer_mob button[type="submit"]{
    border: none;
    background-color: transparent;
    padding-right: 0;
    margin-left: 0%;
    float:right;
    width: 55px;    
}
.btn-footer {
    width: 55px;
    height: 55px;
}
section.search button[type="submit"] img, .footer_mob button[type="submit"] img{
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
    section.search button[type="submit"]:hover, .footer_mob button[type="submit"]:hover{
        border-radius: 105px;
        box-shadow: 0px 0px 15px 5px #EB5E4E, 0px 0px 15px 30px #EB5E4E inset;
    }   
/* Select */
option:not(.optionGroup){
    padding-left: 15px;
}
.optionGroup{
    font-weight:700;
    padding-left: -15px;
}
/*======================================
    POST SECTION STYLES
=========================================*/
.post-section{
    background-color: #23777b;
    height: 140px;
    padding: 50px 0;
    margin-bottom: 20px;
}
/*======================================
    CONNECTION SECTION STYLES
=========================================*/
.connection{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*======================================
    MENU MOBIL SECTION STYLES
=========================================*/
.menu-mobile{
    background-color: transparent;
    color: #8A8381;
/*    margin-left: 80%;
    margin-top: 5%;*/
    float: right;
    border: none;
    font-size: 3em;
}
.navbar {
    margin-bottom: 0;
}
.menu-md {
    display: none;
}
@media(min-width: 800px) {
    .menu-mobile {
        display: none;
    }
    .menu-md {
        display: initial;
    }
}
/*================================
    CATEGORY SECTION STYLES
==================================*/
#category {
    padding-bottom:50px;
    padding-top:15px;
}

#footer_desk ul, #category ul{
    margin-left: -45px;
    margin-right: 15px;
    text-align: center;
}
    #category li{
        display: inline-block;
        list-style-type: none;
    }
        #category li a {
            color: #2E3B42;
            display: inline-block;
            font-weight: 700;
            padding-bottom: 35px;
            text-align: center;
        }
        #category li a:hover {
            transform: scale(1.2);
        }
            #category li a img{
                cursor:pointer;
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
                opacity:1;
                /*width: 150%;*/
            }

/*================================
    HOW SECTION STYLES
==================================*/
/*BOX*/
#how{
    display: none;
}
#how>.container{
    padding-top: 50px;
    width: inherit;
}
.box-how{
    border: none;
    color: #23777B; /*Turquoise fonc�*/
    padding-bottom: 2em;
    position: relative;
}
.box-how h3{
    margin: 2em 5em;
}

/*Caroussel*/
/* PAGINATION spécifique au caroussel */
.carousel{
    background-color: #EBCEA2;
}
.ccm {
    padding-left: 16%;
}
#how .carousel-indicators{
    bottom: initial;
    left: initial;
    margin: 0px 0px 0px -25px;
    width: 100%;
}
#how .carousel-indicators > li {
    background-color: #65C2C7; /*Turquoise clair*/
    border: none;
    border-radius: 50%;
    color: #fff;
    font: 1em "Grobold", fantasy;
    height: 33px;
    margin-left: 15px;
    padding: 0.6em;
    text-indent: initial;
    width: 33px;
}
/*.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 5px 10px;
}*/
#how .carousel-indicators > li:first-child,{
    margin-left: 0;
}
#how .carousel-indicators > li:hover,
#how .carousel-indicators > li:focus{
  background-color: #65C2C7; /*Turquoise clair*/
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3) inset;
  color: #23777B; /*Turquoise fonc�*/
  cursor: pointer;
}
#how .carousel-indicators > li.active,
#how .carousel-indicators > li.active:focus {
  background-color: #23777B; /*Turquoise fonc�*/
}
#how .carousel-indicators > li.active:hover{
  color: #fff;
}
.item:first-child .box-how h3::before,
.item:nth-child(2) .box-how h3::before,
.item:nth-child(3) .box-how h3::before,
.item:nth-child(4) .box-how h3::before,
.item:nth-child(5) .box-how h3::before,
.item:last-child .box-how h3::before{
    content: "";
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 75px;
    left: 2em;
    position: absolute;
    top: 1.5em;
    width: 75px;
}
.item:first-child .box-how h3::before{
    background-image: url("../images/pictos/user.png");
    margin: 90% 0 0 -15px;
}
.item:nth-child(2) .box-how h3::before{
    background-image: url("../images/pictos/search.png");
    margin: 90% 0 0 -15px;
}
.item:nth-child(3) .box-how h3::before,
.item:nth-child(5) .box-how h3::before{
    background-image: url("../images/pictos/coop.png");
    margin: 90% 0 0 -15px;
}
.item:nth-child(4) .box-how h3::before{
    background-image: url("../images/pictos/contact.png");
    margin: 100% 0 0 -15px;
}
.item:last-child .box-how h3::before{
    background-image: url("../images/pictos/rate.png");
    margin: 90% 0 0 -15px;
}

.carousel-control.left{
    background: linear-gradient(to right, rgba(127, 48, 40, 0.9), rgba(0, 0, 0, 0.0001));
}
.carousel-control.right{
    background: linear-gradient(to left, rgba(127, 48, 40, 0.9), rgba(0, 0, 0, 0.0001));
}
.carousel-control.left:hover, .carousel-control.left:focus{
    background: linear-gradient(to right, rgba(235, 94, 78, 0.7), rgba(0, 0, 0, 0.0001));
}
.carousel-control.right:hover, .carousel-control.right:focus{
    background: linear-gradient(to left, rgba(235, 94, 78, 0.7), rgba(0, 0, 0, 0.0001));
}

/* PAGINATION générale */
#how .pagination{
    margin: 35px 0 0;
}
#how .pagination > li > a,
#how .pagination > li > span {
    background-color: #65C2C7; /*Turquoise clair*/
    border: none;
    border-radius: 50%;
    color: #fff;
    font: 1em "Grobold", fantasy;
    margin-left: 15px;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 5px 10px;
}
#how .pagination > li:first-child > a,
#how .pagination > li:first-child > span{
    margin-left: 0;
}
#how .pagination > li > a:hover,
#how .pagination > li > span:hover,
#how .pagination > li > a:focus,
#how .pagination > li > span:focus {
  background-color: #65C2C7; /*Turquoise clair*/
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3) inset;
  color: #23777B; /*Turquoise fonc�*/
  cursor: pointer;
}
#how .pagination > .active > a,
#how .pagination > .active > span,
#how .pagination > .active > a:focus,
#how .pagination > .active > span:focus {
  background-color: #23777B; /*Turquoise fonc�*/
}
/*================================
    PROFILE PAGE STYLES
==================================*/
/*Tommette de disponibilité*/
.user-status {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: 2px;
    margin-left: 20px;
}
.user-status.green{
    background-color: green;
}
.user-status.red{
    background-color: red;
}

/*======================================
    ANNONCE PAGE STYLES
=========================================*/
#stars{
    visibility: hidden;
}

/*================================
    FOOTER SECTION STYLES
==================================*/
footer p{
    color: #fff;
    font-weight: normal;
    margin-top: 1.8em;
    text-align: center;
}
    
/*FOOTER MOBILE*/
.footer_mob{
    background-color: #23777B; /*Turquoise fonc�*/
    padding-top: 30px;
    padding-bottom: 26px;
}
.footer_mob form{
    margin-bottom: 30px;
}

/*FOOTER DESK*/
#footer_desk{
    display: none;
    padding: 20px;
    /*font-size: 0.8em;*/
    font-weight: 700;
    background-color: #2e3b42; /*Gris foncé*/
}
    #footer_desk li{
        display: inline-block;
    }
    #footer_desk a {
        color: #fff;
        display: inline-block;
        font-size: 1.2em;
        margin: 0 1em;
        text-decoration: none;
    }
    #footer_desk a:hover{
        color: #65C2C7;
    }
   
/* Extra-small devices (phones, 450px and up) */
@media(min-width: 450px){
    /*TITLE*/
    .title .overlay h3{
        font-size: 2.5em;
    }
    .item:nth-child(2) .box-how h3::before,
    .item:nth-child(3) .box-how h3::before {
        margin: 85% 0 0 -15px;
    }
    .item:last-child .box-how h3::before {
        margin: 80% 0 0 -15px;
    }
    .item:nth-child(5) .box-how h3::before {
        margin: 100% 0 0 -15px;
    }
@media(min-width: 640px){    
    .item:nth-child(1) .box-how h3::before {
        margin: 85% 0 0 -15px;
    }
    .item:nth-child(5) .box-how h3::before {
        margin: 95% 0 0 -15px;
    }   
    .item:nth-child(4) .box-how h3::before {
        margin: 100% 0 0 -15px;
    }
}    
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*HOME*/
    h1 img{
        width: 60%;
    } 
   .form-inline{
        padding-left: auto;
    }
    /*input localité*/
    section.search input:last-of-type, .footer_mob input:last-of-type{
        width: 90%;
    }
    
    /*HOW*/
    #how{
        display: initial;
    }
    #how>.container{
        background-color: #EBCEA2;
        padding-top: 50px;
        width: inherit;
    }
    .box-how{
        background-color: #fff;
        border-radius: 35px;
        box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
        margin: 0 auto 80px;;
        min-height: 318px;
        min-width: 250px;  
        padding-left: 3em;
        text-align: left;
        width: 80%;
    }
    .box-how h3{
        color: #23777B; /*Turquoise fonc�*/
        font-size: 1.4em;
        margin: 2em 5em;
    }
    .box-how h3::before{
        content: "";
        background: url("../images/pictos/coop.png") no-repeat 0 0;
        background-size: 100%;
        display: inline-block;
        height: 75px;
        left: 2em;
        position: absolute;
        top: 1.5em;
        width: 75px;
    }
    .box-how>.img-responsive{
        float: right;
        margin: 1.5em 1.5em 3em 3em;
        max-width: 50%;
        width: 40%;
    }
    .col-sm-6 {
         width: auto;
    }
    .col-sm-offset-3 {
         margin-left: 0%;
    }
        /*PAGINATION*/
        #how .pagination > li > a,
        #how .pagination > li > span{
            font-size: 2.2em;
            margin-left: 30px;
            padding: 10px 19px;
        }
        .item:first-child .box-how h3::before,
        .item:nth-child(2) .box-how h3::before,
        .item:nth-child(3) .box-how h3::before,
        .item:nth-child(4) .box-how h3::before,
        .item:nth-child(5) .box-how h3::before,
        .item:last-child .box-how h3::before{ 
            margin: 35% 0 0 0;
        }

        
    }       
   
   /*CATEGORY*/
    #category li a img{
        width: 150%;
    }
    
    /*FOOTER*/
    .footer_mob p{
        display: none;
    }
    #footer_desk{
        display: block;
    }
    
}
@media (min-width: 800px) {
    .ccm {
        padding-left: 17%;
    }
    .item:first-child .box-how h3::before,
    .item:nth-child(2) .box-how h3::before,
    .item:nth-child(3) .box-how h3::before,
    .item:nth-child(4) .box-how h3::before,
    .item:nth-child(5) .box-how h3::before,
    .item:last-child .box-how h3::before{ 
        margin: 0 0 0 0;
    }
}
@media (min-width: 980px) {
    .ccm {
        padding-left: 23%;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {    
    /*HEADER*/
    #home .overlay {
        background-color: #fff;
    }
    /*Search*/
    select.form-inline.col-lg-5, select.form-control.col-lg-5,
    select.form-control.form-inline.col-lg-5{
        width: 41.666%;
    }
    section.search{
        padding-bottom: 300px;
    }
    
        
    /*CONNECTION NAVBAR*/
   .navbar > .container > .btn{
        display: initial; 
        position: absolute;
        right: 52%;
        float: right;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
        h2{
            margin-left: 50px;
            text-shadow: none;
        }    
        .btn-connexion {
            margin-right: -400px;
        }

    /*HOW*/
    .box-how>.img-responsive{
        max-width: 50%; 
        margin: 3em;
    }
   .col-sm-6 {
        width: 50%;
   }
   .col-sm-offset-3 {
        margin-left: 25%;
   }
    .bigger {
       width: 70%;
       margin-left: 0%;
   }
    #carousel-example-generic .centre {
        padding: 0% 10% 0px 0px;
   }
   /*CONNECTION SECTION*/
    div.connection{
        display: none;
    }

    /*CATEGORY*/
    #category ul{
        margin-left: 0;
        margin-right: 0;
    }
    #category .col-md-1{
        min-width: 12%;
    }
}

@media (min-width: 1520px) {
    /*CONNECTION NAVBAR*/
   .navbar > .container > .btn{
        right: 22%;
    }
    
    /*HOW*/
    .box-how{
        width: 60%;
    }
    
}
