{% extends "::base.html.twig" %}

{% block title %}Ajout type {{ parent() }}{% endblock %}

{% block h3 %}Ajout d'un <span class="exergue">type</span>{% endblock %}
    
{% block body %}
    {{ parent() }}
    
    <section id="form_contact" class="clearfix">
        <div class="container">
            <div class="form row form-inline form-one clearfix">
                {{ form(form) }}
            </div>
        </div>
    </section>
    
{% endblock %}
