   
<select class="col-xs-12 col-md-4 col-lg-5 form-control " name="subcategorie">
    <option value="" selected>Choisissez une catégorie</option>
    {% for categorie in categories %}
    <optgroup label="{{ categorie.name }}" class="optionGroup">
        {% for subcategorie in categorie.getSubCategories %}
            <option value="{{ subcategorie.id }}">{{ subcategorie.name }}</option>
        {% endfor %}
    </optgroup>
    {% endfor %}
</select>
        
        