   
<select class="col-xs-12 col-md-4 form-control " name="categorie" autofocus>
    <option value="" id="hidden">Choisissez une catégorie</option>
    {% for categorie in categories %}
    <option value="{{ categorie.id }}" class="optionGroup">{{ categorie.name }}</option>
        {% for subcategorie in categorie.getSubCategories %}
            <option value="{{ subcategorie.id }}">{{ subcategorie.name }}</option>
        {% endfor %}
    {% endfor %}
</select>
        
        