   
<select class="col-xs-12 col-md-4 form-control " name="subcategorie" autofocus>
    <option value="" selected>Toutes les categories</option>
    {% for categorie in categories %}
    <optgroup label="{{ categorie.name }}" class="optionGroup">
        {% for subcategorie in categorie.getSubCategories %}
            <option value="{{ subcategorie.id }}">{{ subcategorie.name }}</option>
        {% endfor %}
    </optgroup>
    {% endfor %}
</select>
        
        