{% extends "::base.html.twig"%}
{% block title %}Populaide - Belgique - Results{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
     <section id="works">
        Users:
        <ul>
        {% for user in users%}
            <li>{{ user.id ~ " " ~ user.username ~ " " ~ user.email }}</li>
        {% endfor %}
        </ul>
    </section>
    


{% endblock %}