{% extends "::base.html.twig"%}

{% block header %}
    {{ parent() }}
{% endblock %}  
    
{% block body %}
<div class="title">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <h3>
                    <img {% block img_h3 %}{% endblock %}/>
                    {% block h3 %}{% endblock %}
                </h3>
            </div>
        </div>
    </div>
</div>
<!--TITLE SECTION END  -->
{% endblock %}