{% extends "::base.html.twig" %}

{% block title %}Ajout utilisateur {{ parent() }}{% endblock %}

{% block h3 %}Ajout d'un user{% endblock %}
    
{% block body %}
    {{ parent() }}
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
                    {{ flashMessage }}
                {% endfor %}
                
    <section id="form_contact" class="clearfix">
        <div class="container">
            <div class="form row form-inline form-one clearfix">
                {{ form(form) }}
            </div>
        </div>
    </section>
    
{% endblock %}
