{% extends "::base.html.twig" %}

{% block title %}Ajout utilisateur {{ parent() }}{% endblock %}

{% block h3 %}Ajout d'un user{% endblock %}
    
{% block body %}
    {{ parent() }}
    
    <section id="form_contact" class="clearfix">
        <div class="container">
        {{ form(form) }}
        </div>
    </section>
    
{% endblock %}
