{% extends "::base.html.twig" %}

{% block title %}Conditions générales d'utilisation {{ parent() }}{% endblock %}
{% block h3 %}Conditions générales d'utilisation{% endblock %}
{% block body %}
{{ parent() }}
    <section id="cgu">
        <div class="container">
            <h4>Définitions</h4>
            
            <p>On désignera par la suite:</p>
            <p>'Site' ou 'service' : le site http://www.playpark/populaide.be et l'ensemble de ses pages.
            'Editeur' : La personne, morale ou physique, responsable de l'édition et du contenu du site.
            'Utilisateur' : L'internaute visitant et utilisant les services du site.
            Mentions imposées par la loi de confiance dans l’économie numérique, objet du site et désignation des parties</p>
            <p>Le présent site est édité par Popul'aide ASBL, et dont le siège social est sis au Zoning du Biron, 5590 Ciney.
            Le site est hébergé par OVH, 2 rue kellermann BP 80157 59053 ROUBAIX Cedex 1.
            L'objet du présent site est déterminé comme "Echange de services local".</p>
            <p>Le site est d’accès libre et gratuit à tout internaute. L’acquisition d’un bien ou d’un service, ou la création d’un espace membre, ou de manière plus générale la navigation sur le site suppose l’acceptation, par l’internaute, de l’intégralité des présentes conditions générales, qui reconnaît du même fait en avoir pris pleinement connaissance. Cette acceptation consistera, pour l’internaute, à cocher la case correspondant à la phrase d'acceptation des présentes conditions générales, ayant par exemple la mention « je reconnais avoir lu et accepté l’ensemble des conditions générales du site. ». Le fait de cocher cette case sera réputé avoir la même valeur qu’une signature manuscrite de la part de l’internaute. L’internaute reconnaît la valeur de preuve des systèmes d’enregistrement automatique de l’éditeur du présent site et, sauf pour lui d’apporter une preuve contraire, il renonce à les contester en cas de litige. L’acceptation des présentes conditions générales suppose de la part des internautes qu’ils jouissent de la capacité juridique nécessaire pour cela. S’il est mineur, il déclare avoir l’autorisation d’un tuteur ou d’un curateur ou de son représentant légal.
                Espace membre</p>
            <p>Exonération de la responsabilité de l’éditeur dans le cadre de l’exécution du présent contrat</p>
            <p>En cas d’impossibilité d’accès au site, en raison de problèmes techniques ou de toutes natures, l'utilisateur ne pourra se prévaloir d’un dommage et ne pourra prétendre à aucune indemnité.</p>
            <p>Les liens hypertextes présents sur le présent site peuvent renvoyer sur d’autres sites internet et la responsabilité de l’éditeur du présent site ne saurait être engagée si le contenu de ces sites contrevient aux législations en vigueur. De même la responsabilité de l’éditeur du présent site ne saurait être engagée si la visite, par l’internaute, de l’un de ces sites, lui causait un préjudice.
            Droits de propriété intellectuelle relatifs aux éléments publiés sur le présent site.</p>
            
            <h4>Limitation de responsabilité</h4>
                <p>Vous acceptez que votre accès et l’utilisation de ce site internet et des pages se fassent à votre propre risque. Les informations fournies sur ce site internet et sur les pages ne peuvent être utilisées en tant que conseils de quelque genre, incluant mais sans limitation des conseils en investissement ou relatifs à des questions fiscales ou juridiques.
                Nous fournissons des efforts raisonnables pour donner des informations exactes sur ce site internet et sur les pages et pouvons les modifier et les mettre à jour de temps en temps sans préavis. Néanmoins, nous et tout autre partie mentionnée sur ce site et sur les pages ne supportons aucune responsabilité et n’assurons aucune garantie explicite ou implicite en ce qui concerne l’absence d’erreur, de virus ou de fonctionnement défectueux de ces sites internet et des pages et/ou sur le caractère correct, raisonnable, à jour et complet du contenu de ce site et des pages et nous rejetons explicitement toute responsabilité pour tout dommage direct ou indirect dans le sens le plus large, qui surviendrait de ou serait lié à l’usage de ce site internet ou de ses pages.</p>
                Vous pouvez avoir accès à des sites web tiers par l’intermédiaire de ce site web et de ces pages. Nous ne supportons aucune responsabilité ou garantie quelle qu’elle soit concernant le contenu de site web de tiers et des pages et concernant la conformité de ces sites et pages avec les lois applicables et les droits des tiers et rejetons expressément toute responsabilité pour tout dommage direct ou indirect au sens le plus large, survenant ou lié à l’usage d’un site web tiers et des pages.</p>
                
            <h4>Fermeture de compte</h4>
            <p>En vertu de la Loi relative à la Vie Privée, nous mettrons vos Données Personnelles à votre disposition pour révision sur simple demande de votre part. Si vous nous indiquez qu’une Donnée Personnelle est incorrecte ou qu’elle est utilisée de façon inappropriée, nous corrigerons, mettrons à jour ou supprimerons la Donnée Personnelle de la façon appropriée. Si vous voulez des informations sur la façon dont vous pouvez avoir accès à vos Données Personnelles, veuillez vous référer aux points de contact mentionnés à la fin de ce Règlement relatif à la protection de la vie privée.</p>
            
            <h4>Obligations de l’utilisateur</h4>
                    <p>L’utilisateur a l’obligation, lorsqu’il utilise nos services, de se conformer aux instructions, messages, règles, termes et conditions mentionnés par nous.
                    Toute instruction et note (par ex. Questions fréquemment posées) formulées par nous doivent être respectées par l’utilisateur dans leur version actualisée éventuellement amendée. Si l’utilisateur commet quelque violation de ses obligations, nous pouvons prendre les mesures appropriées (par ex., émettre un avertissement, bloquer ou effacer le contenu, rendre inaccessible l’accès de l’utilisateur ou avertir).
                    L’utilisateur est responsable sans aucune limite pour sa conduite personnelle et son compte personnel, le cas échant. Ceci s’applique en particulier en cas de doute sur toute contribution publiée ou tout contenu utilisé par l’utilisateur (par ex. photos), l’utilisateur est supposé vérifier au préalable que ceux-ci ne violent pas des règlementations statutaires ou ne violent pas des règles publiques ou des droits de tiers (par ex. droit d’auteur, droit visant la protection des données), où que ce soit dans le monde. Nous n’avons pas l’obligation de vérifier le caractère correct ni de vérifier la légalité de ces contenus et contributions
                    En publiant du contenu sur nos pages, l’utilisateur nous confère définitivement tous les droits nécessaires sans aucune restriction en termes de territoire. En fonction du contenu, ceci peut inclure notre droit de conserver, adapter, modifier le contenu et le rendre public. L’utilisateur ne pourra que demander l’effacement subséquent du contenu posté sur nos pages s’il existe des raisons importantes de procéder ainsi.
                    L’utilisateur nous libère et nous décharge de tout type de plainte qui serait introduite contre nous par des tiers du fait de la violation d’une obligation ou d’un droit commis par l’utilisateur, sauf si l’utilisateur n’est pas responsable de cette violation. Les coûts raisonnables de défense devront également être remboursés.</p>
                    
            <h4>Utilisation de Cookies</h4>
                <p>Nous utilisons des cookies sur ce site internet ou d’autres sites tiers où nous affichons ces pages. Vous pouvez avoir plus d’informations au sujet des cookies et comment les contrôler dans les informations reprises ci-dessous.
                   En utilisant notre site, nos pages et/ou nos services, vous acceptez l’utilisation des cookies en conformité avec le présent Règlement.
                   Si vous n’acceptez pas l’utilisation de ces cookies, veuillez les rendre inactifs en suivant les instructions du présent Règlement, par exemple en changeant les paramètres du navigateur de sorte que les cookies de ce site internet ne puissent pas être placés sur votre ordinateur ou appareil mobile.</p>
                
                <h5> Quels termes utilisons-nous dans cet Règlement ?</h5>
                    <p>- Nous utilisons le terme « Utilisateur » en référence aux utilisateurs de nos sites internet, pages en ligne et services. Nous utilisons les termes « vous », « votre » et « le vôtre » en référence à l’Utilisateur qui lit ce Règlement sur les Cookies.
                    - Nous utilisons les termes « nous » et « notre » pour se référer à Listminut, dont l’adresse est située à 12, avenue des rossignols, 1310 La Hulpe, Belgique, le contrôleur de données.
                    - Nous utilisons le terme « Données Personnelles » en référence aux informations personnelles identifiables qui vous concernent.
                    - Nous utilisons le terme  « Loi relative à la Vie Privée » en référence spécifiquement à la loi belge du 8 décembre 1992 relative à la protection de la vie privée à l’égard des traitements de données à caractère personnel et les diverses réglementations l’implémentant.</p> 
                    
                </h5>Qu'est-ce qu'un cookie?</h5>
                    <p>Les cookies sont des fichiers textes qui contiennent un petit nombre d’informations qui sont téléchargés sur votre ordinateur ou sur votre appareil mobile quand vous visitez un site web. Les Cookies sont alors envoyés en retour au site web originaire à chaque visite suivante, ou lors d’une visite sur un site qui reconnait ce cookie. Ils sont utiles parce qu’ils permettent à un site web de reconnaitre l’appareil d’un utilisateur.
                    Les cookies remplissent de multiples fonctions, comme vous permettre de naviguer de manière efficace entre les pages, de se rappeler de vos préférences et de manière générale, d’améliorer l’expérience de l’utilisateur. Ils peuvent aussi aider à assurer que les publicités que vous voyez sur un site sont plus intéressantes pour vous, compte tenu de vos intérêts.
                    Certains cookies contiennent des informations personnelles – par exemple, si vous cliquez sur l’onglet “souviens-toi de moi” en vous connectant, un cookie va conserver votre nom d’utilisateur. La plupart des cookies ne collectent pas d’informations qui vous identifient et vont plutôt collecter des informations plus générales telles que la façon dont l’utilisateur est arrivé sur le site et utilise nos sites internet, et la localisation générale de l’utilisateur.</p>
                    <p>Il y a principalement quatre types de cookies :</P>
                    <p>- Les cookies de session qui ne durent que le temps de la session. Ils sont effacés quand l’utilisateur ferme le navigateur.

                    - Les cookies persistants qui restent après la fermeture de la session. Ils sont conservés sur le disque dur de l’utilisateur jusqu’à leur expiration (les cookies persistants sont conçus avec une date d’expiration) ou jusqu’à ce que l’utilisateur efface les cookies. Les cookies persistants sont utilisés pour collecter des informations d’identification relatives à l’utilisateur, telles que son comportement lors du surf sur internet ou ses préférences pour un site web spécifique.

                    - Les cookies « première partie » appartiennent au site sur lequel vous choisissez d’aller.

                    - Les cookies « tierce partie » sont importés d’un site dont le contenu est accessible indirectement, par exemple via une image ou une bannière. </p>
                    <p>La majorité des navigateurs les supportent (Internet Explorer, Mozilla Firefox, Netscape, Safari, etc.). Quoiqu’il en soit, les utilisateurs peuvent paramétrer leur navigateur de façon à désactiver les cookies ou ils peuvent les effacer.</p> 
                    
                <h5>Quels sont les cookies que nous utilisons ?</h5>
                    <p>Généralement, nous utilisons des cookies qui permettent de remplir quatre différentes fonctions :</p>
                    
                <h5>Les cookies essentiels</h5>
                    <p>Certains cookies sont essentiels pour effectuer des opérations sur notre site internet et sur nos pages. Par exemple, certains cookies nous permettent d’identifier l’utilisateur et d’assurer que l’utilisateur puisse accéder à l’inscription ou se connecter à des pages.</p>
                    <p>Ces cookies ne comprennent pas d’informations sur vous qui pourraient être utilisées à des fins de marketing ou qui se souviennent des endroits où vous avez été sur internet. Cette catégorie de cookies ne devrait pas être désactivée. Si un utilisateur choisit de rendre ces cookies inactifs, il ne pourra pas avoir accès à tout le contenu des pages visitées.</p>
                    
                <h5>Les cookies de performance et d’analyse</h5>
                    <p>Ces cookies collectent des informations sur la façon dont les visiteurs utilisent le site internet, par exemple quelles pages les visiteurs regardent le plus souvent et s’ils reçoivent des messages d’erreur de certaines pages. Ces cookies ne collectent pas d’informations qui vous identifient. Toutes les informations que ces cookies collectent sont anonymes et uniquement utilisées pour améliorer le fonctionnement du site internet.</p>
                    <p>Notre site internet utilise les cookies Google Analytics. Les informations collectées par les cookies Google Analytics seront transmises et conservées par Google sur des serveurs situés aux Etats-Unis d’Amérique, en conformité avec leurs pratiques en matière de vie privée. Pour avoir un aperçu de la politique en matière de vie privée sur Google et la façon dont elle s’applique à Google Analytics, visitez  http://www.google.com/analytics/learn/privacy.html. Vous pourrez choisir de ne plus être suivi par Google Analytics en visitant https://tools.google.com/dlpage/gaoptout?hl=en.</P>
                    
                <h5>Les cookies fonctionnels</h5>
                    <p>Nous pouvons utiliser des cookies fonctionnels qui nous permettent de nous souvenir de vos préférences. Par exemple, ces cookies vont vous éviter de devoir réintroduire votre nom d’utilisateur chaque fois que  vous accédez à un site et se rappeler la sélection de vos préférences, telle que l’édition régionale du site internet que vous voulez voir quand vous vous connectez. Nous pouvons également utiliser les cookies de fonctionnalité pour vous fournir des services améliorés qui peuvent, par exemple, vous permettre de visionner une vidéo en ligne ou de commenter un blog.</p>
                    
                <h5>Cookies de publicité ciblée sur le comportement</h5>
                    <p>Nous et nos annonceurs pouvons utiliser des cookies pour vous fournir des publicités que nous pensons appropriées pour vous, en fonction de vos intérêts. Par exemple, si vous lisez un certain nombre d’articles sur la mécanique sur notre site web ou sur d’autres sites, un fabricant d’automobiles pourrait en déduire que vous êtes intéressé par ce sujet et vous fournir des publicités relatives à ses voitures. Vous pouvez voir ces publicités sur notre site internet et sur d’autres sites internet  que vous visitez. Quoiqu’il en soit, nous n’indiquons pas à nos annonceurs qui vous êtes.</p>
                    
                <h5>Quelqu’un d’autre utilise-t-il des cookies sur notre site internet ?</h5>
                    <p>Les annonceurs utilisent parfois leurs propres cookies pour vous fournir des publicités ciblées. Par exemple, les annonceurs peuvent utiliser un profil qu’ils ont construit sur base des sites que vous avez préalablement visités pour vous présenter des publicités plus appropriées pendant que vous visitez notre site internet et nos pages. Nous croyons qu’il est utile pour nos utilisateurs de voir des publicités qui sont davantage conformes à leurs intérêts. Si vous êtes établis dans l’Union Européenne et que vous voulez en apprendre plus sur la façon dont les annonceurs utilisent ce genre de cookies ou pour choisir de ne pas les recevoir, veuillez visiter  www.youronlinechoices.eu.
                    Nous utilisons également ou permettons à des tiers d’utiliser les cookies qui rentrent dans les quatre catégories décrites ci-avant. Par exemple, comme nous l’avons déjà mentionné, nous utilisons Google Analytics pour nous aider à évaluer le trafic sur notre site internet. Nous pouvons également utiliser des cookies tiers pour nous aider dans nos recherches de marché, suivi des revenus, amélioration des fonctionnalités du site et évaluation de sa conformité avec les termes et conditions et la politique en matière de droits d’auteur.
                    Vous pouvez également contrôler et supprimer ces cookies par l’intermédiaire des paramètres de votre navigateur.</p>
                    
                <h5>Comment contrôler et supprimer les cookies sur mon navigateur ?</h5>
                <p>La possibilité d’autoriser, refuser ou supprimer les cookies peut aussi être assurée au niveau du navigateur. Pour y parvenir, suivez les instructions fournies par votre navigateur (généralement localisées sous l’onglet “Aide”, “Outils” et “Edition”). Refuser un cookie ou des catégories de cookies ne supprime pas les cookies de votre navigateur. Vous devrez faire cela vous-même depuis votre navigateur. Rappelez-vous que si vous choisissez de désactiver les cookies, certaines parties de notre site internet ne fonctionneront pas correctement.</p>

            <p>© Popul'aide ASBL – Tous droits réservés – 15 octobre 2015</p>
        </div>
    </section>
    
<!--POST FORM SECTION END  -->
{% endblock %}