{% extends "TecServiceBundle::layout.html.twig" %}

{% block title %}Contact {{ parent() }}{% endblock %}

{% block img_h3 %}src="{{ asset('images/pictos/contact.png') }}" alt="Nous contacter" width="100" height="100"{% endblock %}
{% block h3 %}Contact{% endblock %}

{% block body %}
{{ parent() }}
<section id="form_contact"  class="clearfix">
    <div class="container">
        <form id="form form_contact" class=" form row form-inline form-one" method="post" action="">
            <!--Nom Prénom-->
            <input class="col-xs-12 col-md-4 form-control " type="text" name="names" placeholder="Nom Prénom"/>
            <!--Mail-->
            <input class="col-xs-12 col-md-4 form-control " type="email" name="mail" placeholder="Email"/>
            <!--Objet-->
            <input class="col-xs-12 col-md-4 form-control " type="text" name="subject" placeholder="Objet"/>
            <!--Message-->
            <textarea class="col-xs-12 col-md-4 form-control" rows="4" name="message" placeholder="Message"></textarea>
            <input class="btn btn-primary col-md-2 form-control" type="submit" value="Envoyer"/>
            <input class="btn btn-secondary col-md-2 form-control" type="reset" value="Annuler"/>
        </form>
    </div>
</section>
<!--POST FORM SECTION END  -->
{% endblock %}