{# On étend notre layout #}
{% extends "::inside_base.html.twig" %}
 
{# Dans notre layout, il faut définir le block body #}
{% block body %}
  {{ parent() }}
  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  
  {# genere une exception !! 
  {% for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
  {% endfor %}
  #}

{% endblock %}
