{% extends "::base.html.twig"%}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}Populaide - Belgique - Home{% endblock %}
{% block header %}
            <div class="navbar navbar-fixed-top">
                <div class="container">
                 <button type="button" class="btn btn-connexion">Connexion</button>
                </div>
            </div>
            <div id="home" class="home-index ">
                <div class="overlay">
                    <div class="container">
                        <hgroup class="col-md-8 col-md-offset-2 text-center">
                            <h1><img src="{{ asset('images/logo.png') }}" alt="Popul'Aide" width='500'/></h1>
                            <h2>L'entraide connectée</h2>
                        </hgroup>
                    </div>
                </div>  
               <section id="search">
                <div class="container">                            
                <form  class="row form-inline">
                    <select class="col-xs-12 col-md-4 form-control " name="Catégorie" autofocus>
                        <optgroup label="Animaux">
                            <option value="" id="hidden">Choisissez une catégorie</option>
                            <option value="">Garde chez le propriétaire</option>
                            <option value="">Garde à domicile</option>
                            <option value="">Promenade</option>
                            <option value="">Toilettage</option>
                        </optgroup>
                        <optgroup label="Cours">
                            <option value="">Couture</option>
                            <option value="">Peinture/dessin</option>
                            <option value="">Musique</option>
                            <option value="">Informatique</option>
                            <option value="">Langues</option>
                            <option value="">Cuisine</option>
                            <option value="">Rattrapage scolaire</option>
                            <option value="">Sport</option>
                        </optgroup>
                        <optgroup label="Soins et beauté">
                            <option value="">Pédicure</option>
                            <option value="">Manucure</option>
                            <option value="">Maquillage</option>
                            <option value="">Coiffure</option>
                            <option value="">Massage</option>
                        </optgroup>
                        <optgroup label="Jardinage">
                            <option value="">Aménagement extérieur</option>
                            <option value="">Entretien</option>
                        </optgroup>
                        <optgroup label="Transport">
                            <option value="">De personnes</option>
                            <option value="">De biens</option>
                        </optgroup>
                        <optgroup label="Bricolage">
                            <option value="">Habitat</option>
                            <option value="">Auto/Moto</option>
                            <option value="">Divers</option>
                        </optgroup>
                        <optgroup label="Animation">
                            <option value="">Clown, magicien, ventriloque...</option>
                            <option value="">DJ</option>
                            <option value="">Musicien/Groupe</option>
                        </optgroup>
                        <optgroup label="Assistance">
                            <option value="">Repassage</option>
                            <option value="">Couture</option>
                            <option value="">Nettoyage</option>
                            <option value="">Cuisine</option>
                            <option value="">Babysitting</option>
                            <option value="">Seniors</option>
                            <option value="">Rédaction/Relecture</option>
                            <option value="">Traduction/Interprétariat</option>
                        </optgroup>
                        <optgroup label="Multimédia">
                            <option value="">Réparation/Assistance/Dépannage matériel</option>
                            <option value="">Photo/Vidéo</option>
                            <option value="">Web</option>
                        </optgroup>
                    </select>
                    <input class="col-xs-12 col-md-4 form-control " type="text"/>
                    <input class="btn btn-primary col-md-2 form-control" type="submit" value="O"/>
                </form>
                </div>
            </section>                        
            </div>
 
{% endblock %}
{% block body %}
    Bonjour tout le monde
{% endblock %}